.MealBreakdown {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	list-style: none;
}

.MealBreakdown .meal-container {
	padding-bottom: 1rem;
}

.MealBreakdown .meal-container.editing {
	opacity: 50%;
}

.MealBreakdown .meal-name {
	font-size: 1.8rem;
	font-weight: bold;
}

.MealBreakdown .edit-link, .delete-link {
	background-color: transparent;
	border: none;
	text-decoration: underline;
	cursor: pointer;
	float: right;
	font-size: 1rem;
}

.MealBreakdown .meal-macros {
	font-size: 1.2rem;
}
 
