.Total {
	padding: 20px;
}

.Total .divider {
	background-color: black;
	height: 1px;
	margin-bottom: 10px;
}

.Total .calories-remaining {
	font-size: 2.2rem;
	text-align: center;
}

.Total .remaining {
	font-size: 1rem;
	font-weight: normal;
}

.Total .nutrition-item-name {
	font-weight: bold;
	font-size: 1.2rem;
}

.Total .nutrition-item {
	padding: 10px 10px;
	text-align: center;
	flex-grow: 1;
}

.Total .nutrition-item-container {
	display: flex;
	flex-wrap: wrap;
}

.Total .calorie-calc {
	display: flex;
	justify-content: center;
}

.Total .calorie-calc > * {
	padding: 0px 10px 10px 10px;
	text-align: center;
}

.Total .variable {
	font-weight: bold;
	font-size: 1.2rem;
}

.Total .identifier {

}


